/************************generals*****************/
:root {
    --color-primary: #000000;
    --color-second: #ffffff;
    --font-family: 'Source Sans Pro', sans-serif;
    --background-second: rgba(94 , 223, 0, 1);
}
html {
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/***********************header*******************/
.mesage {
    width: 100%;
    min-height: 50px;
    background-color: rgba(0, 201, 153, 0.8);
    color: var(--color-second);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circles {
    color:#707070;
    margin-right: 1rem;
}
#header {
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
    min-height: 150px;
    background-color: var(--color-second);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo {
    max-width: 30%;
}
#logo img {
    max-width: 85%;
    max-height: 120px;
}
#menu {
    max-width: 65%;
    font-size: 1.5rem;
}
#menu a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--color-primary);
    border-right: thin solid black;
    padding-right: 10px;
}
#menu a:last-child {
    border: none;
}
#menu a:hover {
    color: rgba(0, 201, 153, 1);
}
/*#menu a.active {
    color: var(--background-second);
}*/
/***********************show*******************/
#show {
    position: relative;
    width: 100%;
    background-image: url(./images/show.jpg);
    background-position: center;
    min-height: 50vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}
#fixed {
    position: absolute;
    display: flex;
    top: 90%;
    background-color: white;
    max-width: 75%;
    max-height: 100px;
    border-radius: 20px;
    padding: 20px;
}
#fixed > div {
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}
#fixed > div:nth-last-child(3) {
    border-right: thin solid black;
    padding-left: 0;
}
#fixed > div:nth-last-child(5) {
    border-right: thin solid black;
}
#fixed > div:first-child {
    padding-left: 0;
    padding-right: 0;
}
#fixed > div:last-child {
    padding-left: 0;
    padding-right: 0;
}
#fixed > div > h3 {
    color: #444444;
}
.delivery {
    font-size: 2rem;
    padding-top: 1vh;
}
.plant {
    font-size: 2rem;
    padding-top: 1vh;
}
.recycle {
    font-size: 2rem;
    padding-top: 1vh;
}
#fixedone {
    position: absolute;
    top: 90%;
    display: none;
    background-color: white;
    max-width: 50%;
    border-radius: 20px;
    padding: 5px;
}
#fixedone > div {
    display: flex;
    flex-direction: row;
    border-bottom:  thin solid black;
    padding: 10px;
}
#fixedone div:last-child {
    border-bottom: none;
}
#fixedone > div > div h3 {
    color: #444444;
}
.deliveryone {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.plantone {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.recycleone {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
/***********************main*******************/
main {
    padding: 0 20px 0 20px;
}
.about {
    width: 100%;
    text-align: start;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-bottom: 10vh;
    margin-top: 5vh;
    border-top: thin solid black;
    border-bottom: thin solid black;
    min-height: 20vh;
}
.about p {
    color: var(--color-primary);
    font-size: 1.2rem;
}
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30vh;
}
.title {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-second);
    background-color: rgba(0, 201, 153, 1);
}
.div,
.divtwo {
    width: 25%;
    background-color: transparent;
    margin-bottom: 5vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
}
.div h3,
.divtwo h3 {
    font-size: 1rem;
    margin-bottom: 2vh;
}
.div img,
.divtwo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.div:hover {
    box-shadow: 0 0 5px #cccccc;
    background-color:  rgba(0, 201, 153, 0.5);
    color: var(--color-primary);
}
.divtwo:hover {
    box-shadow: 0 0 5px #cccccc;
    background-color:  rgba(94 , 223, 0, 0.5);
    color: var(--color-primary);
}
.sale {
    background-color: var(--background-second);
    color: var(--color-second);
    padding: 4px;
}
.contact {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    
}
.contact div div h3 {
    font-size: 1.5rem;
    text-align: center;
}
.contact div div:first-child {
    border-right: none;
}
.contact div {
    margin-right: 2rem;
    padding-right: 2rem;
    border-right: thin solid #cccccc;
}
.contact div:last-child {
    border: none;
}
.contact a {
    text-decoration: none;
    border: none;
    color: var(--color-primary);
}
.instagram,
.facebook,
.mail {
    margin-left: 2.5vw;
    font-size: 3rem;
    color: var(--color-primary);
}
.contact h4 {
    margin-top: 3vh;
    font-size: 1rem;
    color: var(--color-primary);
}
.instagram span:hover {
    color: var(--background-second);
    border: none;
}
/***********************safe*************************/
.safe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.safe img {
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    margin-right: 1rem;
}

/***********************footer*******************/
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    width: 100%;
    background-color: rgba(0, 201, 153, 1);
   
}
.footer {
    width: 100%;
    min-height: 30px;
    background-color: #707070;
    color: var(--color-second);
    text-align: center;
    padding: 6px;
}
/* ************scroll-top-button **************** */

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 2vh;
    right: calc(4.25rem + 1vw);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    background-color: var(--background-second);
    color: var(--color-second);
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
    color: var(--color-primary);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
/* ************whatsapp **************** */

.whatsappsend {
    position: fixed;
    z-index: 999;
    bottom: 15vh;
    right: calc(4.25rem + 1vw);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-second);
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.whatsappicon {
    font-size: 4rem;
    color: var(--color-second);
}
.whatsappsend:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 10px #cccccc;
}
.buy {
    position: fixed;
    z-index: 999;
    bottom: 17vh;
    right: calc(3rem + 6vw);
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-second);
    color: var(--color-second);
    padding: 2px;
    outline: 0;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.buy:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 10px #cccccc;
}
/***********************valores*******************/
.valores {
   display: block;
}
.valores > label {
    margin-right: 1vw;
}
.valores > h3 {
    display: block;
    text-align: center;
}
.medio,
.kilo {
    margin-right: 0.5vw;
    margin-top: 2vh;
    cursor: pointer;
}
.precio {
    padding-top: 2vh;
}

/********************************responsive**************************************/
@media (max-width: 1430px){
    #fixed div {
        font-size: 0.8rem;
    }
   .delivery,
   .recycle,
   .plant {
       font-size: 1.3rem;
   }
   .facebook,
   .instagram,
   .mail {
       margin-left: 3vw;
   }
   .contact h3 {
       margin-top: 2vh;
       margin-left: 3vw;
       margin-right: 3vw;
       font-size: 1rem;
   }
   .contact h4 {
       margin-top: 1.5vh;
       font-size: 0.8rem;
   }
   .buy {
    bottom: 16vh;
    right: calc(6.9rem + 2vw);
}
}
@media (max-width: 1140px){
    body {
        overflow-x: hidden;
    }
    #fixed div {
        font-size: 0.7rem;
    }
   .delivery,
   .recycle,
   .plant {
       font-size: 1.2rem;
   }
   .div img,
   .divtwo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .whatsapp,
    .instagram,
    .mail {
        margin-left: 3vw;
    }
   .contact h3 {
        margin-top: 2vh;
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 1rem;
    }
    .contact h4 {
        margin-top: 1.5vh;
        font-size: 0.8rem;
    }
    .facebook,
    .instagram,
    .mail {
        font-size: 1rem;
    }
    .scroll-top-btn,
    .whatsappsend {
        right: 1vw;
    }
    .scroll-top-btn {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .buy {
        bottom: 16vh;
        right: calc(3rem + 1.8vw);
    }
    .title {
        width: 100%;
    }
}
@media (max-width: 875px){
    #fixed {
        display: none;
    }
    #fixedone {
        display: block;
    }
    .title {
        font-size: 1.3rem;
    }
    .div img,
    .divtwo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact div:first-child {
        width: 100%;
        text-align: left;
    }
    .contact div:last-child {
        width: 100%;
        text-align: left;
    }
    .facebook,
    .instagram,
    .mail {
        margin-left: 3vw;
    }
    .contact h3 {
        margin-top: 2vh;
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 1rem;
    }
    .contact h4 {
        margin-top: 1.5vh;
        font-size: 0.8rem;
    }
    .buy {
        bottom: 16vh;
        right: calc(3rem + 2vw);
    }
}
    @media (max-width: 820px){
        .div,
        .divtwo {
            width: 50%;
        }
        .contact {
            width: 100%;
            display: flex;
            flex-direction:row;
        }
        .contact div {
            display: flex;
            justify-content: center;
            }
        .contact div:first-child {
            display: flex;
            flex-direction: column;
        }
        .instagram,
        .facebook,
        .mail {
            margin-left: 2rem;
            font-size: 2rem;
        }
        .safe {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .safe img {
            width: 80px;
            height: 80px;
            margin-top: 2rem;
        }
        #footer {
            display: flex;
            flex-direction: column;
        }
        #footer div:first-child {
            width: 100%;
            text-align: center;
        }
        #footer div:last-child {
            width: 100%;
            text-align: center;
        }
        .buy {
            bottom: 16vh;
        }
    }
    @media (max-width: 675px){
        #header {
            display: flex;
            flex-direction: column;
        }
        #logo {
            width: 90%;
        }
        #logo img {
            max-width: 85%;
            max-height: 120px;
        }
        #menu {
            width: 90%;
            font-size: 1rem;
            text-align: center;
        }
        #fixedone {
             max-width: 90%;
        }
        #fixedone > div > div h2 {
            font-size: 1.2rem;
        }
        #fixedone > div > div h3 {
            font-size: 1rem;
        }
        .deliveryone,
        .plantone,
        .recycleone {
            font-size: 1rem;
        }
        .about p {
            font-size: 1rem;
        }
        .products {
            width: 100%;
        }
        .div,
        .divtwo {
            width: 100%;
        }
        .div h3,
        .divtwo h3 {
            font-size: 1.2rem;
        }
        .div img,
        .divtwo img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
        }
        .contact {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
        }
        .contact div {
            display: flex;
            justify-content: center;
            border-right: none;
            }
        .contact div div h3 {
            padding-left: 2rem;
        }
        .contact div:first-child {
            display: flex;
            flex-direction: column;
        }
        .contact div h4 {
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .instagram,
        .facebook,
        .mail {
            margin-left: 2rem;
            font-size: 2rem;
        }
        .safe img {
            width: 50px;
            height: 50px;  
            margin-left: 2.2rem;
        }
        .buy {
            right: calc(3rem + 2vw);
        }
        .mesage {
            font-size: 0.8rem;
            padding: 2px 4px;
        }
    }
    @media (max-width: 495px){
        #menu {
            width: 100%;
            font-size: 0.8rem;
            text-align: center;
        }
        .div img,
        .divtwo img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }
        .title {
            font-size: 1.1rem;
        }
    }
    @media (max-width: 420px){
        #menu {
            width: 100%;
            font-size: 0.7rem;
            text-align: center;
        }
       #footer h3 {
           font-size: 0.8rem;
       }
       .buy {
        bottom: 17vh;
        right: calc(3rem + 2.5vw)
    }
    }
    @media (max-width: 380px){
        #logo img {
            max-width: 85%;
            max-height: 140px;
        }
        #menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
        }
        #menu a {
            border: none;
        }
        .buy {
            bottom: 16.6vh;
            right: calc(3rem + 2.5vw)
        }
        .mesage {
            font-size: 0.8rem;
            padding: 2px 4px;
        }
    }
